{% extends 'base.html' %}

{% block title %}Add Category{% endblock %}

{% block content %}
<style>
    /* add_category.css */

    /* Reset CSS */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9; /* Light gray background */
    }

    .content {
        margin-left: 80px; /* Adjust according to navbar width */
        padding: 20px;
    }

    /* Add Category Page */
    .category-title {
        margin-bottom: 20px;
        color: #333;
        font-size: 35px;
        text-align: center;
    }

    .category-form {
        max-width: 500px; /* Increased width */
        padding-top: 5rem;
        margin: 10rem auto ; /* Center the form horizontally */
        
        background-color: #fff; /* White background */
        padding: 40px; /* Increased padding */
        border-radius: 8px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Intense box shadow */
        transition: transform 0.3s ease; /* Smooth transition effect */
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    .category-form:hover {
        transform: translateY(-5px); /* Move the form up on hover */
    }

    .category-form label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .category-form input[type="text"] {
        width:20rem;
        height: 2rem    ; /* Make both text inputs the same size */
        padding: 15px; /* Increased padding */
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 20px; /* Increased margin */
        transition: border-color 0.3s ease; /* Smooth transition effect */
    }
    .category-form input[type="number"] {
        width:20rem;
        height: 2rem    ; /* Make both text inputs the same size */
        padding: 15px; /* Increased padding */
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 20px; /* Increased margin */
        transition: border-color 0.3s ease; /* Smooth transition effect */
    }

    .category-form input[type="text"]:focus {
        border-color: #333; /* Change border color on focus */
    }

    .category-form .budget-input {
        width:20rem;
        height: 2rem ;/* Make budget input same width as name input */
        padding: 15px; /* Same padding as name input */
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 20px; /* Same margin as name input */
        transition: border-color 0.3s ease; /* Smooth transition effect */
    }

    .category-form .budget-input:focus {
        border-color: #333; /* Change border color on focus */
    }

    .category-button,
    .category-button-back {
        background-color: #333; /* Green button */
        color: #fff; /* White text color */
        padding: 15px 30px; /* Increased padding */
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        display: block;
        width: 100%;
        margin-top: 20px; /* Increased margin */
        text-align: center;
        transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition effect */
        text-decoration: none; /* Remove underline */
    }

    .category-button:hover,
    .category-button-back:hover {
        background-color: #333; /* Darker green color on hover */
        transform: translateY(-5px); /* Move the button up on hover */
    }

    .category-button-back {
        margin-top: 40px; /* Adjust margin to center the button vertically */
    }
</style>
<div style="display: flex; flex-direction: row;">
        <div style="display: block; ">
            <h1 class="category-title" style="color: white;">Add Category</h1>
            <form method="post" action="{% url 'add_category' %}" class="category-form"  style="max-height: 60vh; margin-top: 0rem;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="category-button">Save</button>
                <a href="{% url 'category_list' %}" class="category-button-back">Back to
                    Category List</a>
            </form>
        </div>

        <div style="display: block; margin-left: 15rem;">
        <section>
            <h2 style="color: white;">Categories</h2>
            <ul style="list-style: none; display: flex; flex-wrap: wrap;">
                {% for category in categories %}
                    <li style="padding: 2rem; background-color: rgba(32, 58, 81, 0); margin-right: 1%; 
                    box-shadow: 0 0.25rem 2rem 0 rgba(0, 0, 0, 0.205); margin-top: 1rem; border-radius: 10px; color: white; ">{{ category.name }} <br> <span>Limit :</span>{{category.budget_limit}}</li>
                {% endfor %}
            </ul>
        </section>
        </div>
</div>

{% endblock %}