
{% extends 'base.html' %}

{% block title %}Expense Statistics{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'recurring.css' %}">
    <div style="margin-left: 5rem;">
<div class="container">
    <div class="form-container" style="background-color: transparent; color: white; box-shadow: 0 0.25rem 2rem 0 rgba(0, 0, 0, 0.499); ">
        <h1 style="color: white;">Add Recurring Expense</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
    <div class="cards-container" style="max-width: 40vw;">
        {% for expense in recurring_expenses %}
        <div class="card" style="color: white; background-color: transparent; color: white; box-shadow: 0 0.25rem 2rem 0 rgba(0, 0, 0, 0.499); ">
            <h2 style="color: rgba(255, 255, 255, 0.792);">{{ expense.name }}</h2>
            <p>Amount: ${{ expense.amount }}</p>
            <p>Next Due Date: {{ expense.next_due_date }}</p>
        </div>
        {% empty %}
        <p>No recurring expenses found.</p>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}