<!-- add_income.html -->
{% extends 'base.html' %}

{% block title %}Add Category{% endblock %}

{% block content %}
    
    <style>
        body {
            font-family: Arial, sans-serif;
            background: rgb(67, 69, 112);
  background: radial-gradient(
    circle,
    rgba(67, 69, 112, 1) 3%,
    rgba(35, 36, 57, 1) 60%
  );
            margin: 0;
            padding: 0;
        }

        h2 {
            text-align: center;
            margin-top: 50px;
            color: #333;
            font-size: 24px;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        form label {
            font-weight: bold;
            display: block;
            margin-bottom: 10px;
        }

        form input[type="text"],
        form input[type="number"],
        form select,
        form input[type="date"] {
            width: calc(100% - 20px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 14px;
            transition: border-color 0.3s ease;
        }

        form input[type="text"]:focus,
        form input[type="number"]:focus,
        form select:focus,
        form input[type="date"]:focus {
            border-color: #333;
        }

        form button[type="submit"] {
            background-color: #45a049;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        form button[type="submit"]:hover {
            background-color: #0ca90f;
        }
    </style>

<div>
    
    <h2 style="color: white;">Add Income</h2>
    <br>
    <br>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Income</button>
    </form>
    </div>
</div>
{% endblock %}