{% extends 'base.html' %}

{% load static %}

{% block title %}Finso - Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<div class="login-page">
    <div class="form">
        <div class="login">
            <div class="login-header">
                <h3>LOGIN</h3>
                <p>Please enter your credentials to login.</p>
            </div>
        </div>
        <form method="post" class="login-form" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <button type="submit">Login</button>
            <p class="message">Not registered? <a href="{% url 'login' %}">Create an account</a></p>
        </form>
    </div>
</div>
{% endblock %}
