@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: radial-gradient(circle,
      rgba(67, 69, 112, 1) 3%,
      rgba(35, 36, 57, 1) 60%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg, #328f8a, #08ac4b);
  height: 2.01 rem;
  width: 40%;
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.login-header {
  color: white;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 20px;
}

.login-header h3 {
  margin: 0 0 10px;
}

.login-header p {
  margin: 0;
}

@media (max-width: 768px) {
  .login-page {
    width: 90%;
    padding: 20px;
  }

  .form {
    padding: 20px;
  }

  .form input{
    font-size: 16px;
    padding: 12px;
  }

  .login-header {
    font-size: 1em;
  }
}



